html,
body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  display: table-cell;
  font-family: helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
}

input {
  font-size: 60px;
  font-family: helvetica, sans-serif;
  text-align: center;
  width: 80px;
}

input:focus {
  outline: 0;
}

#keycode {
  margin-top: 30px;
  border: 0;
  width: auto;
}
